# -*- mode: yaml; -*-
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
